.zl-table-box {
    position: relative;

    // thead{
    //      position: absolute;
    //     top: 0;
    // }
    .column-header {
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
    .preview {
        background: #fffbdc;
    }
    .source {
        background: rgba(255, 153, 0, 0.1);
        // border-left: 1px solid rgba(31, 150, 255, 0.75) !important;
        // border-right: 1px solid rgba(31, 150, 255, 0.75);
    }
    .select {
        background: #eaf6ff;
        // background: #eaf6ff;
        // border-left: 1px solid rgba(31, 150, 255, 0.75) !important;
        // border-right: 1px solid rgba(31, 150, 255, 0.75);
    }
    .order {
        text-align: center;
        cursor: pointer;
    }

    table {
        text-align: left;
        width: 100%;
        border-left: 1px solid rgba(36, 41, 46, 0.04);
        border-collapse: collapse;
        // border-collapse: collapse; //表格的边框合并，如果相邻，则共用一个边框。
        border-spacing: 0px; //设置行与单元格边框的间距。
        tr {
            th,
            td {
                font-weight: 500;
                border-bottom: 1px solid rgba(36, 41, 46, 0.04);
                border-right: 1px solid rgba(36, 41, 46, 0.04);
                > div {
                    padding: 3px 6px;
                }
            }
        }
    }

    &::-webkit-scrollbar {
        width: 5px;
        border-radius: 10px;
        background-color: #e7e6eb;
        cursor: pointer;
    }
    /* 滚动槽 */
    &::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    /* 滚动条滑块 */
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        cursor: pointer;
        background: #b4bccd;
    }
}
