* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-rendering: optimizeLegibility;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}
p {
    margin: 0;
}
ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mask-box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.drawer-box {
    .title {
        font-weight: 500;
        color: #24292e;
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .button-warp{
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: 30px;
      >button{
          margin-right: 20px;
      }
    }
}

.del-highlight {
    background: #ec7259;
    color: #fff;
    padding: 1px 3px;
    margin: 0 1px;
    border-radius: 2px;
    text-decoration: line-through;
}
.add-highlight {
    background: rgb(25, 190, 107);
    color: #fff;
    padding: 1px 3px;
    border-radius: 2px;
    margin: 0 1px;
}

.rep-highlight {
    background: rgb(25, 190, 107);
    // background: rgb(255, 153, 0);
    color: #fff;
    padding: 1px 3px;
    border-radius: 2px;
    margin: 0 1px;
}
/* 设置滚动条的样式 */
.scrollbar::-webkit-scrollbar {
    width: 5px !important;
    background-color: transparent;
}

/* 滚动槽 */
.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* 滚动条滑块 */
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    cursor: pointer;
    background: #e5ecf3;
}

.show-enter-active {
    transition: all 0.25s ease-in;
}
.show-enter,
.show-leave-to {
    /* transform: scale(0.9); */
    opacity: 0;
    margin-top: -6px;
}
.show-enter-to,
.show-leave {
    opacity: 1;
    /* transform: scale(1); */
    margin-top: 0px;
}
.hidden-enter,
.hidden-leave-active {
    /* transform: scale(0.9); */
    transition: all 0.25s ease-in;
    opacity: 0;
}
.hidden-enter-active,
.hidden-leave {
    opacity: 1;
    /* transform: scale(1); */
}
